---
layout: layouts/base.njk
---

<section class="project-grid">
  {% for project in collections.projecten | reverse %}
    <article class="project-card">
      <a href="{{ project.url }}">
        <div class="image-wrapper">
          {% if project.data.image %}
            <img src="/projecten/{{ project.fileSlug}}/{{ project.data.image }}" alt="{{ project.data.title }}">
          {% else %}
            <div class="placeholder">Geen afbeelding</div>
          {% endif %}
        </div>
        
      </a>
    </article>
  {% endfor %}
</section>