<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
<header>
    <div id="logo">
        <a href="/" class="home-link"><img class="logo" src="/{{tag | slugify}}.png" alt="Nicolas Severyns"/>
        </a>
    </div>
</header>