<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
<header id="site-header">
    <a href="{{ '/' | url }}" class="home-link" aria-label="Ga naar de homepagina">
    <img src="/zelfportret.jpg" class="home-logo" alt="">
  </a>
</header>