--- 
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>
	{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
</style>
<style>
	{% include "css/prism-diff.css" %}
</style>
<header class="project-header">
	{% set logoTag = tags | getLogoTag %}
	<img class="header-logo" src="/{{logoTag | slugify}}.png" alt="{{logoTag | slugify}}"/>
</div>
<h1 class="header-title">{{ title }}</h1>

<ul class="header-meta">
	<li>
		&rarr; <time>{{ period }}</time>
	</li>
	
		{%- set tagUrl %}/tags/{{ logoTag | slugify }}/{% endset %}
		<li>
			in <a href="{{ tagUrl }}" class="post-tag">{{ logoTag }}</a>
		
												
		</li>
	
</ul>
</header>
{{ content | safe }}

{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}
				<li class="links-nextprev-prev">← Previous<br>
					<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
				</li>
			{% endif %}
			{%- if nextPost %}
				<li class="links-nextprev-next">Next →<br>
					<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
				</li>
			{% endif %}
		</ul>
	{%- endif %}
{%- endif %}